[class^="win-"][class$="-btn"]{
  font-size: 12px;
  border: none;
  transition: 0.3s;
  padding: 5px 10px;
  border-radius: 4px;
  +[class^="win-"][class$="-btn"]{
    margin-left: 10px;
  }
}
[class^="win-"][class$="-btn"]:focus{
  outline:none;
}
[class^="win-"][class$="-btn"]:active{
  transform: translateY(3px);
}
[class^="win-"][class$="-btn"]:hover{
  box-shadow: 0 2px 4px 0 #aaaaaa;
}
// 确定按钮样式
.win-confirm-btn{
  background-color: #53A8FF;
  color: #ffffff;
}
.win-confirm-btn:hover{
  background-color: #409EFF;
  color: #ffffff;
}
// 取消按钮样式
.win-cancel-btn{
  border:1px solid #aaaaaa !important;
  color: #808080;
  background-color: #ffffff;
}
.win-cancel-btn:hover{
  border-color: #444444;
  color: #444444;
}


