$hoverBgColor:rgba(100,100,100,0.15); // hover背景颜色
$textColor:#666;// 文字颜色
//阴影
$boxShadow:0 2px 4px 0 rgba(100,100,100,.12), 0 0 6px 0 rgba(100,100,100,.6);
// 动画时长
$transition:0.3s;
// 边框
$border:1px solid #dcdfe6;

*{
  box-sizing: border-box;
}
@import "./button.scss";
@import "./input.scss";
@import "./popup.scss";
@import "./Rclick.scss";

