.win-windows-box{
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;

  // 遮罩层（防止拖动太快造成鼠标脱轨卡顿）
  .win-app-shade{
    position: fixed;
    cursor: move;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
  }
  // 网页或VUE组件弹窗样式
  .win-win{
    position: fixed;
    background-color: #fff;
    box-shadow: $boxShadow;
    overflow: hidden;
    border-radius: 5px;
    resize:both;             /* 设置元素的宽度和高度均可调整 */
    .win-title{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-bottom: 2px;
      align-items: center;
      padding-left: 20px;
      cursor: move;
      .name{
        cursor: default;
      }
      .win-icon{
        width: 36px;
        height: 36px;
        display: inline-block;
        padding: 10px;
        cursor: pointer;
      }
      .win-icon:hover{
        background-color: $hoverBgColor;
      }
    }
    .win-section{
      height: calc(100% - 50px);
      overflow: hidden;
      overflow-y: auto;
      position: relative;
      .win-iframs{
        width: 100%;
        height: 100%;
      }
    }
  }
  // 窗口最大化
  .win-win.max{
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
  }
  // 窗口最小化
  .win-win.min.max,
  .win-win.min{
    width: 0 !important;
    height: 0 !important;
  }
  // 最小化窗口列表
  .win-min-list{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    padding:0 5px 5px 5px;
    .min-item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 5px;
      border: $border;
      +.min-item{
        margin-left: 5px;
      }
      .min-name{
        width: 100px;
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .win-icon{
        width: 36px;
        height: 36px;
        padding: 10px;
      }
      .win-icon:hover{
        background-color: $hoverBgColor;
      }
    }
  }
  // 确认框样式
  .win-alert {
    border-radius: 5px;
    overflow: hidden;
    position: fixed;
    z-index: 10001;
    background: #ffffff;
    box-shadow: $boxShadow;
    font-size: 12px;
    .alert-title{
      width: 100%;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      padding-bottom: 2px;
      align-items: center;
      padding-left: 10px;
      cursor: move;
      .name{
        cursor: default;
      }
      .win-icon{
        width: 32px;
        height: 32px;
        display: inline-block;
        padding: 8px;
        cursor: pointer;
      }
      .win-icon:hover{
        background-color: $hoverBgColor;
      }
    }
    .alert-section{
      width: 100%;
      overflow: hidden;
      padding: 15px 15px 0 15px;
      font-size: 14px;
      .info-text{
        width: 100%;
        margin: 0 0 10px 0;
      }
      .win-ipt{
        width: 100%;
      }
      .err-text{
        width: 100%;
        font-size: 12px;
        color:#F56C6C;
        height: 16px;
        margin: 0;
      }
    }
    .bottom-btn-box{
      padding: 10px 15px;
    }
  }
  // 轻提示样式
  .win-msg{
    border: none;
    position: fixed;
    max-width: 300px;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 15px !important;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    color: #fff;
  }

  // 默认主题
  .theme{
    background-color: #f5f5f5;
    color: #333333;
  }
  // 扩展主题
  .theme-a{
    background-color: #000;
    color: #fff;
  }
  .theme-b{
    background-color: #333;
    color: #fff;
  }
  .theme-c{
    background-color: #666;
    color: #fff;
  }
  .theme-d{
    background-color: #409EFF;
    color: #fff;
  }
  .theme-e{
    background-color: #67C23A;
    color: #fff;
  }
  .theme-f{
    background-color: #E6A23C;
    color: #fff;
  }
  .theme-g{
    background-color: #F56C6C;
    color: #fff;
  }
  .theme-h{
    background-color: #a3a8ff;
    color: #fff;
  }
  .theme-i{
    background-color: #e1f3d8;
    color: #606266;
  }
  .theme-j{
    background-color: #faecd8;
    color: #606266;

  }
  .theme-k{
    background-color: #fde2e2;
    color: #606266;

  }
  .theme-l{
    background-color: #e9e9eb;
    color: #606266;

  }
  .theme-m{
    background-color: #ffffff;
    color: #606266;
  }
  .theme-n{
    background-image: linear-gradient(60deg,#fa0,#0af);
    color: #606266;
  }
  .theme-o{
    background-image: linear-gradient(60deg,#fa0,#0fa);
    color: #606266;
  }
  .theme-p{
    background-image: linear-gradient(60deg,#fa0,#a0f);
    color: #ffffff;
  }
  .theme-q{
    background-image: linear-gradient(60deg,#0af,#fa0);
    color: #606266;
  }
  .theme-r{
    background-image: linear-gradient(60deg,#0af,#0fa);
    color: #606266;
  }
  .theme-s{
    background-image: linear-gradient(60deg,#0af,#a0f);
    color: #ffffff;
  }
  .theme-t{
    background-image: linear-gradient(60deg,#af0,#0af);
    color: #606266;
  }
  .theme-u{
    background-image: linear-gradient(60deg,#af0,#fa0);
    color: #606266;
  }
  .theme-v{
    background-image: linear-gradient(60deg,#af0,#f0a);
    color: #606266;
  }
  .theme-w{
    background-image: linear-gradient(60deg,#a0f,#0af);
    color: #ffffff;
  }
  .theme-x{
    background-image: linear-gradient(60deg,#a0f,#af0);
    color: #ffffff;
  }
  .theme-y{
    background-image: linear-gradient(60deg,#a0f,#fa0);
    color: #ffffff;
  }
  .theme-z{
    background-image: linear-gradient(60deg,#a0f,#f0a);
    color: #ffffff;
  }

}
